@CHARSET "UTF-8";
/**
 * @author Adrian Mclaughlin
 * @date   04/03/2015
 * @version 2
 */

@import url(Reset.css);
@import url(http://fonts.googleapis.com/css?family=Orbitron:700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Raleway);

@viewport {width:device-width;}

*{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	font-size:62.5%;
	height:100%;
}

h2 {
    font-family: "Raleway";
    font-size: 2em;
    font-weight: bold;
}

p {
    font-family: "Raleway";
    font-size: medium;
    font-weight: normal;
    line-height: 1.5em;
}

body {
	font-family:"Raleway",serif;
	font-weight:normal;
    background-color: #c3d3e1;
    height: 100%;
    overflow: hidden;
}


.full-height { height: 100%; }

/* Side bar */
.sidebar-left {
    background: linear-gradient(to right,#428bca,#adc5d9);
    opacity: 0.8;
    width: 150px;
    height:100%;
}

/* Chess Icon */
#chess-icon {
    background-color: #2a78ba;
    margin-top: 20px;
    width:110px;
    height: 110px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border-radius: 30px 0px 30px 0px;
    padding:10px;
    box-shadow: 5px 5px 8px black;
}

/* Side menu */

.side-menu {
    margin-top:70px;
    font-family: "Raleway";
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    color: black;
    background-color: #2886d5;
    box-shadow: 5px 5px 8px black;
    border-radius: 10px;
}

.side-menu li {

    padding:4px;
}
.side-menu a {
    display: block;
    text-decoration: none;
    color: black;
}
.side-menu a:hover,.side-menu a {
    text-decoration: none;
}
