@CHARSET "UTF-8";
@import url(General.css);  

body {
    background-image: url(../img/1700128.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    overflow:auto;
}

#main{
    height:100%;
}
    
 
.padding {
    height: 20px;
}
    
.box {
    background: -webkit-linear-gradient(left, rgb(125, 165, 203), rgb(13, 116, 212), rgb(125, 165, 203));
    background: -moz-linear-gradient(left, rgb(125, 165, 203), rgb(13, 116, 212), rgb(125, 165, 203));
    box-shadow: black 5px 5px 10px;
}
    
#login-box {
    background-color: #428aca;
    border-radius: 22px;
    margin-top: 100px;
    padding-left:50px;
    padding-right:50px;
    //display: none;
}

#signup-box {
    background-color: #428aca;
    border-radius: 22px;
    margin-top: 100px;
    padding-left:50px;
    padding-right:50px;
    display: none;
}    

#login-icon {
    margin-top: 35px;
    margin-bottom: 10px;
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#login-title {
    text-align: center;
    font-family: Raleway;
    font-size: x-large;
    margin-bottom: 30px;
}
#login-title strong {
    line-height: 1.3em;
    font-family:"Orbitron";
    font-size: 2em;
}

/*
 * Message at the bottom of the screen
 */
.messageLabel {
    display: block;
    font-size: 2em;
    margin-top: -38px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0 15px 0;
    z-index: 1000;
}
    
#signup-icon {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: -27px;
    width: 120px;
    height: 120px;
}
    
#signup-title {
    text-align: center;
    font-family: Raleway;
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 70px;
 
}
#signup-title strong {
    line-height: 1.3em;
    font-family:"Orbitron";
    font-size: 1.0em;
}
    
.inputtext {
    height: 40px;
    margin-bottom: 20px;
    background-color: #285478;
    color: white;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px #407199 inset;
    text-indent: 30px;
}

.signup-inputtext {
    margin-bottom: 30px;
}

.submit-btn {
    margin-bottom: 20px;
    background-color: #0b5494;
}

.filler {
    height: 20px;
}
    
#signup-msg {
    font-size: 1.3em;    
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
}
    
.signup-error {
    text-align: center;
    display: block;
    font-size: 1.4em;
    margin-top: -27px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: mediumblue;
}

@media (max-height:650px) and (max-width:450px) {
    body {
        background-image: none;
        background-color: #428aca;
    }
    
	#login-box {
        box-shadow: none;
        margin-top: 0;
        padding: 0 5px 0 5px;
	}
	
	#signup-box {
        box-shadow: none;
		margin-top: 0;
        padding: 0 5px 0 5px;
	}
    
    .box {
        background: none;
        box-shadow: none;
    }
    
}

@media (min-width:768px) {
    /* 
     * Make the message at the bottom of the
     * screen smaller in witdh and centre in
     * the middle of the screen
     */
    .messageLabel {
        position: absolute;
        bottom: 0;
        width: 50%;
        left: 25%;
        right: 25%;
    }
    
    
}
    
@media (max-height:639px) {
	#login-box {
		margin-top: 0;
	}
	
	#signup-box {
		margin-top: 0;
	}
}