/*
 * Layout for Promotion dialog
 */
#promotionDialog {
    width: 50%;

}

.hidePromotionDialog {
    display: none;
}
.displayPromotionDialog {
    position: absolute;
    display: block;
    top: 20%;
    left: 25%;
    right: 25%;
}

#promotionDialog .panel-body {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    background-color: white;
}
#promotionDialog button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:120px;
    height: 120px;
    padding: 0;
    border-radius: 122px 122px;

}

@media(max-width:992px) {
    #promotionDialog button {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 12px 12px;
    }   
}