@CHARSET "UTF-8";
/**
 * @author Adrian Mclaughlin
 * @date   04/03/2015
 * @version 2
 */

@import url(Reset.css);
@import url(http://fonts.googleapis.com/css?family=Orbitron:700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Raleway);

@viewport {width:device-width;}

*{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	font-size:62.5%;
	height:100%;
}

h2 {
    font-family: "Raleway";
    font-size: 2em;
    font-weight: bold;
}

p {
    font-family: "Raleway";
    font-size: medium;
    font-weight: normal;
    line-height: 1.5em;
}

body {
	font-family:"Raleway",serif;
	font-weight:normal;
    background-color: #c3d3e1;
    height: 100%;
}

/* Side bar */
.sidebar-left {
    background: linear-gradient(to right,#428bca,#adc5d9);
    opacity: 0.8;
    width: 150px;
    height:100%;
}
