<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 62.5%;vertical-align: baseline;margin: 0;padding: 0;width: 600px;">
  <head style="-moz-box-sizing: border-box;box-sizing: border-box;">
    <title th:remove="all" style="-moz-box-sizing: border-box;box-sizing: border-box;">AMCChessGame</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="-moz-box-sizing: border-box;box-sizing: border-box;"/>
<style style="-moz-box-sizing: border-box;box-sizing: border-box;">
      html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
      </style>        
</head>
  <body th:style="'background-image:url(cid:' + ${background} + ');background-size: cover;background-repeat: no-repeat;'" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;line-height: 1;background-image: url(../../../../temp/background.jpg);background-size: cover;background-repeat: no-repeat;font-family: &quot;Times New Roman&quot;, serif;font-weight: normal;background-color: #c3d3e1;min-height: 500px;">
      <div id="title" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 32px;vertical-align: baseline;margin: 0;padding: 0;background-color: #2886d5;opacity: 0.7;box-shadow: 5px 5px 8px #000000;padding-top: 12px;padding-right: 15px;padding-left: 20px;margin-bottom: 30px;border-radius: 5px;max-width: 600px;min-width: 500px;">Adrian McLaughlin's <br style="-moz-box-sizing: border-box;box-sizing: border-box;"/><strong style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0; font-size: 64px;vertical-align: baseline;margin: 0;padding: 0;font-family: Verdana;font-weight: bold;padding-left: 180px;padding-top: 10px;display: block;max-width: 600px;min-width: 500px;">Chess Game</strong></div>
 <div id="message" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;background-color: rgba(255,255,255,.4);min-width: 100%;max-width:100%;padding-top: 20px;">
    <p style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: medium;vertical-align: baseline;margin: 0;padding: 0;font-family: serif;font-weight: 400;line-height: 1.5em;margin-left: 30px;">Hello <span th:text="${name}" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;">Christopher</span>,</p>
     <p style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: medium;vertical-align: baseline;margin: 0;padding: 0;font-family: serif;font-weight: 400;line-height: 1.5em;margin-left: 30px;">Player <span th:text="${opponent}" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;">Stephen</span> has made a move!</p>
    
        
     <div th:switch="${status}" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;">
        <p style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: medium;vertical-align: baseline;margin: 0;padding: 0;font-family: serif;font-weight: 400;line-height: 1.5em;margin-left: 30px;">Game is  
        <span th:case="IN_PROGRESS" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;">in progress.</span>
        <span th:case="AWAITING_PLAYER" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;">awaiting opponent to join the game.</span>
        <span th:case="FINISHED" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;">finished.</span>
         </p>
      </div>
    <img id="chessboard" src="../../../../temp/out.jpg" th:src="'cid:' + ${svg}" style="-moz-box-sizing: border-box;box-sizing: border-box;border: 0;font-size: 100%;vertical-align: baseline;margin: 0;padding: 0;border-style: ridge;border-width: 5px;box-shadow: 5px 5px 2px black;margin-top: 20px;margin-bottom: 40px;margin-left: 30px;"/>
    
    <div th:if="${gameState} neq 'RUNNING'">
    <div id="statusBox" th:switch="${gameState}" style="background-color:yellow;width:400px;margin-left:60px; font-size:24px;padding:20px;border-radius:10px; margin-bottom:20px;">
    	<p th:case="'STALEMATE'">The game has ended in stalemate.</p>
    	<p th:case="'WHITE_IN_CHECK'"><span th:text="'Your king is in check'">White player's king is in check.</span></p>
    	<p th:case="'BLACK_IN_CHECK'"><span th:text="${opponent.name} + 's king is in check'">Black player's king is in check.</span></p>
    	<p th:case="'WHITE_CHECKMATE'"><span th:text="'Your king has been checkmated'">White player's king has been checkmated.</span></p>
    	<p th:case="'BLACK_CHECKMATE'"><span th:text="${opponent.name} + 's king has been checkmated'">Black player's king has been checkmated.</span></p>
    </div>
    </div>
     <p style="font-size: medium;vertical-align: baseline;margin: 0;padding: 0;display: block;font-family: serif;font-weight: 400;line-height: 1.5em;padding-left:30px;">
        Regards, <br style="-moz-box-sizing: border-box;box-sizing: border-box;"/>
        <span>AMCChessGame System</span>
     </p>
</div>
  </body>
</html>