<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<context:component-scan  base-package="org.amc.game.chessserver." use-default-filters="false" />
	<context:component-scan  base-package="org.amc.game.chessserver.messaging." />
	<mvc:annotation-driven/>
	
	<import resource="/GameObservers.xml"/>
	
	<!-- creates Properties configuration values -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		<list>
			<value>classpath:smtp.properties</value>
			<value>classpath:database.properties</value>
			<value>classpath:server.properties</value>
		</list>
		</property>
	</bean>
	
    <!-- Application beans -->
	
	<bean id="myEntityManagerCache" class="org.amc.dao.EntityManagerCache" scope="singleton">
		<property name="entityManagerFactory" ref="applicationEntityManagerFactory"></property>
	</bean>
	
	<bean id="serverChessGameFactory" class="org.amc.game.chessserver.ServerChessGameFactory">
		<property name="observerFactoryChain" ref="defaultObserverFactoryChain" />
	</bean>
	
	<bean id="gameActionsStompController" class="org.amc.game.chessserver.GameActionsStompController"/>
	<bean id="saveGameStompController" class="org.amc.game.chessserver.SaveGameStompController" />
	<bean id="gameMoveStompController" class="org.amc.game.chessserver.StompControllerIT.GameMoveStompControllerHelper"/>
	<bean id="promotionStompController" class="org.amc.game.chessserver.PromotionStompControllerIT.PromotionStompControllerHelper" />
	
	<bean id="NewNetworkChessGameController" class="org.amc.game.chessserver.StartPageController">
		<property name="serverChessGameDAO" ref="myServerChessGameDAO"></property>
	</bean>
	
	<bean id="newComputerGameController" class="org.amc.game.chessserver.NewComputerGameController">
		<property name="serverChessGameDAO" ref="myServerChessGameDAO"></property>
	</bean>
	
	<bean id="newLocalGameController" class="org.amc.game.chessserver.NewLocalChessGameController">
		<property name="serverChessGameDAO" ref="myServerChessGameDAO"></property>
	</bean>
	
	<bean id="joinChessGameController" class="org.amc.game.chessserver.ServerJoinChessGameController">
		<property name="serverChessGameDAO" ref="myServerChessGameDAO"/>
	</bean>
	
	<bean id="userSearchController" class="org.amc.game.chessserver.UserSearchController" />
	
	

	<bean id="userSearchDAO" class="org.amc.dao.UserSearchDAO" scope="prototype">
		<property name="entityManager" ref="appEntityManager"/>
	</bean>

	<bean id="myUserDAO" class="org.amc.dao.DAO" scope="prototype">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.User</value>
		</constructor-arg>
		<property name="entityManager" ref="appEntityManager"/>
	</bean>

	<bean id="myPlayerDAO" class="org.amc.dao.DAO">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.game.chess.HumanPlayer</value>
		</constructor-arg>
		<property name="entityManager" ref="appEntityManager"/>
	</bean>

	<bean id="myAuthoritiesDAO" class="org.amc.dao.DAO">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.Authorities</value>
		</constructor-arg>
		<property name="entityManager" ref="appEntityManager"/>
	</bean>
	
	<bean id="myServerChessGameDAO" class="org.amc.dao.ServerChessGameDAO">
		<property name="observerFactoryChain" ref="defaultObserverFactoryChain"/>
		<property name="entityManagerCache" ref="myEntityManagerCache"/>
		<property name="entityManager" ref="appEntityManager"/>
	</bean>
	
	<bean id="wsServerChessGameDAO" class="org.amc.dao.ServerChessGameDAO">
		<property name="observerFactoryChain" ref="defaultObserverFactoryChain"/>
		<property name="entityManagerCache" ref="myEntityManagerCache"/>
		<property name="entityManager" ref="webSocketscopedEntityManager"/>
	</bean>
	
    
    <bean id="myExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" destroy-method="shutdown">
    	<property name="corePoolSize" value="5"/>
    	<property name="maxPoolSize" value="10"/>
    	<property name="queueCapacity" value="50"/>
	</bean>
 
    <task:annotation-driven scheduler="myScheduler"/>
	<!--  <task:executor id="myExecutor" pool-size="20" rejection-policy="DISCARD_OLDEST"/> -->
	<task:scheduler id="myScheduler" pool-size="10"/>

	

	<bean class="org.amc.game.chessserver.SignUpController">
		<property name="passwordEncoder" ref="myPasswordEncoder"/>
		<property name="userDAO" ref="myUserDAO"/>
	</bean>	
	
	<bean id="managedDAOFactory" class="org.amc.dao.ManagedDAOFactory">
		<property name="emFactory" ref="applicationEntityManagerFactory" />
	</bean>  
</beans>
