<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<context:component-scan  base-package="org.amc.game.chessserver." use-default-filters="false" />
	
	<mvc:annotation-driven/>
    <!-- Application beans -->
    
    <bean id="gameMap" factory-bean="gameMapFactory" factory-method="getGameMap"
		scope="singleton">
	</bean>

	<bean id="gameMapFactory" class="org.amc.game.chessserver.GameMapFactoryBean" />
	
	<bean id="stompController" class="org.amc.game.chessserver.StompController"/>
	
	<bean id="startPageController" class="org.amc.game.chessserver.StartPageController">
		<property name="gameMap" ref="gameMap"></property>
	</bean>
	
	<bean id="joinChessGameController" class="org.amc.game.chessserver.ServerJoinChessGameController">
		<property name="gameMap" ref="gameMap"></property>
		<property name="gameFinishListener" ref="gameFinishListener"></property>
	</bean>
	
	<bean id="gameFinishListener" class="org.amc.game.chessserver.GameFinishedListener"/>

	<bean id="myUserDAO" class="org.amc.dao.DAO" scope="prototype">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.User</value>
		</constructor-arg>
	</bean>

	<bean id="myPlayerDAO" class="org.amc.dao.DAO">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.game.chess.HumanPlayer</value>
		</constructor-arg>
	</bean>

	<bean id="myAuthoritiesDAO" class="org.amc.dao.DAO">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.Authorities</value>
		</constructor-arg>
	</bean>
    
    <bean id="myPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
    	<property name="customEditors">
        	<map>
            	<entry key="org.amc.game.chess.Move" value="org.amc.game.chessserver.MoveEditor"/>
        	</map>
    	</property>
    </bean>
        
    <task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="5"/>
	<task:scheduler id="myScheduler" pool-size="10"/>

	<bean class="org.amc.game.chessserver.spring.UserLoggedInListener">
		<property name="messager" ref="mockPlayerListMessager"/>
	</bean>
	
	<bean class="org.amc.game.chessserver.spring.UserLoggedOutListener">
		<property name="messager" ref="mockPlayerListMessager"/>
	</bean>

	<bean id="mockPlayerListMessager" class="org.amc.game.chessserver.MockPlayerListMessager"/>
	<!-- 
	<bean class="org.springframework.messaging.simp.SimpMessagingTemplate">
		<constructor-arg ref="channel"></constructor-arg>
	</bean>
	
	<bean id="channel" class="org.springframework.messaging.support.ExecutorSubscribableChannel"/>
	 -->
	<bean class="org.amc.game.chessserver.SignUpController">
		<property name="passwordEncoder" ref="myPasswordEncoder"/>
		<property name="userDAO" ref="myUserDAO"/>
	</bean>
	
</beans>
