<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<context:component-scan  base-package="org.amc.game.chessserver." use-default-filters="false" />
	
	<mvc:annotation-driven/>
	
	
	<!-- creates Properties configuration values -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		<list>
			<value>classpath:smtp.properties</value>
			<value>classpath:database.properties</value>
		</list>
		</property>
	</bean>
	
    <!-- Application beans -->
    
    <bean id="gameMap" factory-bean="gameMapFactory" factory-method="getGameMap"
		scope="singleton">
		<property name="sCGInitialiser" ref="sCGInitialiser"></property>
	</bean>
	
	<bean id="serverChessGameFactory" class="org.amc.game.chessserver.ServerChessGameFactory">
		<property name="offlineChessGameMessagerFactory" ref="offlineChessGameMessagerFactory"/>
	</bean>
	
	<bean id="sCGInitialiser" class="org.amc.game.chessserver.DefaultSCGInitialiser">
		<lookup-method name="createGameFinishedListener" bean="gameFinishListener"/>
		<property name="offlineChessGameMessagerFactory" ref="offlineChessGameMessagerFactory"></property>
	</bean>

	<bean id="gameMapFactory" class="org.amc.game.chessserver.DBGameMapFactoryBean" scope="singleton">
		<property name="serverChessGameDAO" ref="myServerChessGameDAO"/>
	</bean>
	
	<bean id="stompController" class="org.amc.game.chessserver.StompController"/>
	
	<bean id="startPageController" class="org.amc.game.chessserver.StartPageController">
		<property name="gameMap" ref="gameMap"></property>
	</bean>
	
	<bean id="offlineChessGameMessagerFactory" class="org.amc.game.chessserver.spring.OfflineChessGameMessagerFactory">
		<lookup-method name="createOfflineChessGameMessager" bean="offlineChessGameMessager"/>
	</bean>
	
	<bean id="joinChessGameController" class="org.amc.game.chessserver.ServerJoinChessGameController">
		<property name="gameMap" ref="gameMap"></property>
		<property name="sCGInitialiser" ref="sCGInitialiser"></property>
	</bean>
	
	<bean id="userSearchController" class="org.amc.game.chessserver.UserSearchController" />
	
	<bean id="gameFinishListener" class="org.amc.game.chessserver.observers.GameFinishedListener"/>

	<bean id="userSearchDAO" class="org.amc.dao.UserSearchDAO" scope="prototype"/>

	<bean id="myUserDAO" class="org.amc.dao.DAO" scope="prototype">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.User</value>
		</constructor-arg>
	</bean>

	<bean id="myPlayerDAO" class="org.amc.dao.DAO">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.game.chess.HumanPlayer</value>
		</constructor-arg>
	</bean>

	<bean id="myAuthoritiesDAO" class="org.amc.dao.DAO">
		<constructor-arg>
			<value type="java.lang.Class">org.amc.Authorities</value>
		</constructor-arg>
	</bean>
	
	<bean id="myServerChessGameDAO" class="org.amc.dao.ServerChessGameDAO"></bean>
	
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
    	<property name="customEditors">
        	<map>
            	<entry key="org.amc.game.chess.Move" value="org.amc.game.chessserver.MoveEditor"/>
        	</map>
    	</property>
    </bean>
    
    <bean id="myExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" destroy-method="shutdown">
    	<property name="corePoolSize" value="5"/>
    	<property name="maxPoolSize" value="10"/>
    	<property name="queueCapacity" value="50"/>
	</bean>
 
    <task:annotation-driven scheduler="myScheduler"/>
	<!--  <task:executor id="myExecutor" pool-size="20" rejection-policy="DISCARD_OLDEST"/> -->
	<task:scheduler id="myScheduler" pool-size="10"/>

	<bean class="org.amc.game.chessserver.spring.UserLoggedInListener">
		<property name="messager" ref="mockPlayerListMessager"/>
	</bean>
	
	<bean class="org.amc.game.chessserver.spring.UserLoggedOutListener">
		<property name="messager" ref="mockPlayerListMessager"/>
	</bean>

	<bean id="mockPlayerListMessager" class="org.amc.game.chessserver.MockPlayerListMessager"/>

	<bean class="org.amc.game.chessserver.SignUpController">
		<property name="passwordEncoder" ref="myPasswordEncoder"/>
		<property name="userDAO" ref="myUserDAO"/>
	</bean>
	
</beans>
