<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ChessGame Server</display-name>

	<welcome-file-list>
	<welcome-file>ChessHomePage.html</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>360</session-timeout>
	</session-config>
	
	<!-- JavaServer Pages configuration -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
	
	<!-- Spring settings -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/GameServerContext.xml</param-value>
	</context-param>
	
	<!-- Spring controllers -->

	<servlet>
		<servlet-name>chessgame</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/chessgame-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>chessgame</servlet-name>
		<url-pattern>/app/chessgame/*</url-pattern>
	</servlet-mapping>
	
	<!-- My listener Classes -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

		<!-- MyFilters -->
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>org.amc.game.chessserver.NoCacheFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	
</web-app>


